# Node
node_modules
npm-debug.log
frontend/build
frontend/node_modules

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv
pip-log.txt
pip-delete-this-directory.txt
.toast
backend/uploads

# Git
.git
.gitignore

# OS
.DS_Store
Thumbs.db

# Project Docs / reports (keep only code in container)
*.md
*.docx
*.pdf
!README.md
!USAGE_GUIDE.md
!DEMO_GUIDE.txt

# Local data / models to be copied selectively
ml_pipeline/h5_omnifusion/checkpoints/*
!ml_pipeline/h5_omnifusion/checkpoints/fold4_phase12_latest.pt
